<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>일정 수정</title>
</head>
<body>
<h1>일정 수정</h1>

<form th:action="@{'/schedule/' + ${scheduleForm.id} + '/edit'}" th:object="${scheduleForm}" method="post">

    <div>
        <label>제목</label>
        <input type="text" th:field="*{title}" placeholder="제목을 입력하세요">
        <div th:if="${#fields.hasErrors('title')}" th:errors="*{title}" style="color:red"></div>
    </div>

    <div>
        <label>내용</label>
        <textarea th:field="*{content}" placeholder="내용을 입력하세요"></textarea>
        <div th:if="${#fields.hasErrors('content')}" th:errors="*{content}" style="color:red"></div>
    </div>

    <div>
        <label>비밀번호</label>
        <input type="password" name="password" placeholder="비밀번호 입력" required>
    </div>

    <div>
        <button type="submit">수정</button>
    </div>
</form>

<form th:action="@{'/schedule/' + ${scheduleForm.id} + '/delete'}" method="post" >
    <input type="password" name="password" placeholder="비밀번호 입력" required>
    <button type="submit" onclick="return confirm('정말 삭제하시겠습니까?')">삭제</button>
</form>

<a th:href="@{/schedule/list}"> 목록으로</a>

</body>
</html>